numpy==1.26.4
pyaudio==0.2.14
PyQT5==5.15.11
librosa==0.11.0
sherpa-onnx==1.12.20
sounddevice==0.5.3
soundfile==0.12.1
speechbrain==1.0.3
pypinyin==0.55.0
loguru==0.7.2
torch==2.1.1+cu121
torchaudio==2.1.1+cu121
onnxruntime==1.21.0